@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	font-family: 'Raleway', sans-serif;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
}


#cm{
	margin-top: 50px;
}



#cm h1{

	font-size: 2em;

}


.logo {
	max-height: 400px;
}



#cm h1 sup {

	top: -3.5em;

	font-size: 0.2em;

}



#cm p{
	font-size: 0.7em;
	letter-spacing: 0px;

}

@media (min-width:900px) {

	#cm{
		margin-top: 100px;
	}
}